@import "../Variables.scss";

/* Items or slides------------------------------------------------------------------------------------------------ */
.slide-item {
  // background: greenyellow;
  // border: greenyellow 2px solid;
  margin-left: 11px;
  // width:330px;
  /* transition: 2s; */
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}
.slide-item img {
  width: 89%;
  height: 350px;
  border-radius: 10px;
  background-size: contain;
  object-fit: cover;
}
.slide-item:hover ~ .slide-item {
  /*cuando un item este en hover todos los otros sin hover (~) haran lo que dice entre {} */
  /*Es un selector de hermanos, por ejemplo con
  div ~ p seleccionamos todos los p hermanos de un div*/
  transform: translate3d(30px, 0, 0);
  /*Cuando hacemos hover todos los elementos se desplazaran hacia la derecha*/
}
.slide-container:hover .slide-item {
  opacity: 0.3;
}
.slide-container:hover .slide-item:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Items details------------------------------------------------------------------------------------------------- */
.slide-item-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 10px;
  font-size: 13px;
  color: white;
  opacity: 0;
  transition: 50ms opacity;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 34px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slide-item-details img {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  transition: 0.2s;
}
.slide-item-details img:hover {
  scale: 1.2;
}

.slide-item-details:hover {
  opacity: 1;
}
.slide-item-details--title {
  margin-bottom: 0px;
}
.slide-item-details--subtitle {
  margin-top: 3px;
}
