@import "../Variables.scss";
@import "../App.scss";
// @import "../Media.scss";

/* Main container: slider-window and buttons------------------------------------------------------------------------ */
.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // border: solid red 2px;
  width: 1400px;
  margin-bottom: 2px;
}

/* Window to see slides--------------------------------------------------------------------------------------------- */
/* Note: the slider width is related with the slide-item width times slides shows in the window */
.slider-window {
  width: 1600px;
  height: 500px;
  // background: palevioletred;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Container with all slides--------------------------------------------------------------------------------------- */
.slide-container {
  width: 1980px;
  height: 350px;
  display: flex;
  flex-flow: row;
  // background: pink;
  transition: 1.4s;
}
