@import '../Variables.scss';
@import '../App.scss';

.carousel-container{
  flex: 1; /*ocupa todo el ancho disponible => flex: 1 1 auto*/
  /* display: flex;
  flex-flow: column;
  align-items: center; */
  // display: block;
  padding: 3rem;  

  // border: solid 2px blue;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  & .title {
    width: 100%;
    // border: solid green 2px;
    padding: 3rem 7rem 0 7rem;
    & h1{
      color: $mainFontColor;
      // text-align: center;
      font-size: fontSize(xlarge);
      border-bottom: $blueBackground solid 0.3rem;
    }
  }
  
}
