@import "../Variables.scss";

.carousel-container {
  flex: 1; /*ocupa todo el ancho disponible => flex: 1 1 auto*/
  padding: 3rem;
  // border: solid 2px blue;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  & .title {
    width: 100%;
    // border: solid green 2px;
    padding: 3rem 7rem 0 7rem;
    & h1 {
      color: $darkGray;
      // text-align: center;
      font-size: fontSize(xlarge);
      border-bottom: $blue solid 0.3rem;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carousel-container {
    & .title {
      padding: 3rem 0 0 0;
      & h1 {
        color: $darkGray;
        text-align: center;
        line-height: 3rem;
      }
    }
  }
}

//Mobile
@media only screen and (max-width: 768px) {
  .carousel-container {
    & .title {
      padding: 3rem 0 0 0;
      & h1 {
        color: $darkGray;
        text-align: center;
        font-size: fontSize(large);
        line-height: 3rem;
      }
    }
  }
}
