@import '../Variables.scss';
@import '../App.scss';

/* --------Footer-------- */
.footer{
  background: $headerBackground;
  color: $secondaryFontColor;
  text-align: center;
  // position: relative;
  // bottom: 0;
  // width: 100%;
  // height: 8rem;
  // margin: 0;

  display: flex;
  align-items: center;
  // justify-content: flex-start;
  height: 10rem;
  width: 100%;

  & a{
    color: $secondaryFontColor;
    font-family: $themeFont;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 3rem;

    &:hover{
      text-decoration: underline;
    }
  }
}