@import '../Variables.scss';
@import '../App.scss';

/* --------Header-------- */
.header{
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  background: $headerBackground;
  color: $secondaryFontColor;
  font-size: fontSize(medium);

  & .logo{
    display: flex;
    flex-direction: row;
    align-items: center;

    & img{
      width: 4rem;
    }

    & h1{
      text-decoration: underline 0.2rem;
      font-size: fontSize(xlarge);
      margin-left: 1rem;
    }
  }



  /* Menu */
  & .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & li {
      list-style: none;
    } 

    & .submenu{
      position: relative;

      & .panier{
        display: none;
        & .panier-table{
          color: $mainFontColor;
        }
      }
      
      & img{
        margin-right: 2.5rem;
        width: 3.2rem;
        transition: 400ms;
        margin: 1rem 2rem 1rem 0rem; 

        &:hover{
          transform: scale(1.2);
        }

      }

      &:hover #panier__container{
        display: block;
        position: absolute;
        right:0;
        top:100%;
        z-index: 1;
        padding: 2rem;
        min-height: 20rem;
        min-width: 30rem;
        border-radius: 0.3rem;
        background-color: $bodyBackground;
        box-shadow: 0rem 0rem 10rem 1rem rgba(0, 0, 0, 0.5);
      }
      
    
    }
  }
}