@import "../Variables.scss";
@import "../App.scss";
@import "../Media.scss";

/* --------Header-------- */
.header {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom: 0.5rem solid $white;
  background: $gray;
  color: $white;
  font-size: fontSize(medium);

  & .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
      width: 4rem;
    }

    & h1 {
      text-decoration: underline 0.2rem;
      font-size: fontSize(xlarge);
      margin-left: 1rem;
    }

    & .logoName {
      width: 14rem;
      margin-left: 2rem;
    }
  }

  /* Menu */
  & .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.logoImg {
  width: 4rem;
  margin-left: 1rem;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
