@import '../Variables.scss';
// @import '../App.scss';
.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid $mainFontColor;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: $mainFontColor;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

.input:focus::placeholder {
  color: transparent;
}

::placeholder{
  color: $ligthFontColor;
}