@import "../Variables.scss";

/* Description
  This file contains: 
    - Global styles
    - Layout styles (for desktop, tablet and mobile) as:
      .Header styles
      .Body styles
      .Footer styles
*/

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  // height: 100%;
}

body {
  font-family: $themeFont;
  background: $white;
}

#app {
  display: flex;
  flex-direction: column;
}

// Layout styles
// Desktop
/* --------Header-------- */
.header {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom: 0.5rem solid $white;
  background: $gray;
  color: $white;
  font-size: fontSize(medium);

  & .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
      width: 4rem;
    }

    & h1 {
      text-decoration: underline 0.2rem;
      font-size: fontSize(xlarge);
    }

    & .logoName {
      width: 14rem;
    }
  }

  & .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.logoImg {
  width: 4rem;
}
.loginIcon {
  width: 4rem;
  margin-left: 1rem;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

// Body
.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(
    100vh - 15rem
  ); /*del 100% de view height (100vw) va a ocupar toda la pantalla menos 200 px que se reservan para el header y el footer*/ /*Quiero que se vean 200px exceptuando el header y el footer*/
}
.sub-container {
  color: $darkGray;
  min-height: 55rem;
  width: 60vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & h2 {
    text-align: center;
    font-size: fontSize(large);
  }
}

/* --------Footer-------- */
.footer {
  background: $gray;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  height: 8rem;
  width: 100%;

  & a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: fontSize(medium);
    padding-left: 3rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

//Mobile
@media only screen and (max-width: 768px) {
  /* --------Header-------- */
  .header {
    padding: 2rem;
    height: 6rem;
    & .logo {
      & a {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      & .logoName {
        width: 12rem;
        height: 3.3rem;
        margin: 0;
      }
    }
  }
  .logoImg {
    width: 3.3rem;
    margin-left: 0.5rem;
  }

  // Body
  .section-container {
    min-height: calc(100vh - 14rem);
  }

  //Footer
  .footer {
    height: 8rem;
    justify-content: space-around;

    & a {
      padding: 0;
      font-size: fontSize(regular);
    }
  }
}

@media only screen and (max-width: 768px) and(max-height:740px) {
}
