@import '../Variables.scss';
@import '../App.scss';

.container{
  background-color: $grayBackground;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  min-height: calc(100vh - 16rem); /*del 100% de view height (100vw) va a ocupar toda la pantalla menos 200 px que se reservan para el header y el footer*/ /*Quiero que se vean 200px exceptuando el header y el footer*/
}
.sub__container{
  background: $whiteBackground;
  border-radius: 4rem;
  color: $mainFontColor;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.7);
  padding: 6rem 4.8rem 4rem;
  min-height: 70rem;
  width: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & h2 {
    text-align: center;
    font-size: fontSize(large);
  }
}
