@import "../Variables.scss";
@import "../App.scss";

/* Main container */
// .panier-container {
//   // border: solid 2px red;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-end;
//   padding-top: 10px;
// }

/* Image */
// .panier-img {
//   width: 70px;
//   height: 68px;
//   padding: 4px 10px 20px 15px;
//   // border: solid 2px blue;
//   transition: 200ms;
// }
// .panier-img:hover {
//   scale: 1.1;
// }
// .panier-img:hover + .panier-table {
//   display: flex;
// }

// .panier-table:hover {
//   display: flex;
// }

// /* Table */
// .panier-table {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: solid 2px green;
//   background: gray;
//   border-radius: 10px;
//   padding: 5px 10px;
//   position: absolute;
//   top: 70px;
//   right: 80px;
// }

table,
th,
td {
  border-bottom: 3px solid white;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #96d4d4;
}
th {
  background-color: #96d4d4;
}
th:not(:last-child) {
  height: 25px;
  border-right: 1px solid white;
}
td {
  width: 100px;
  padding: 10px;
  text-align: left;
  // vertical-align: center;
}
td > img {
  width: 100px;
}
td:last-child {
  text-align: center;
  // vertical-align: center;
}

// .panier-menu{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   & li {
//     list-style: none;
//   }

//   & .submenu{
//     position: relative;

//     & .panier{
//       display: none;
//       & .panier-table{
//         color: $mainFontColor;
//       }
//     }

//     & img{
//       margin-right: 2.5rem;
//       width: 3.2rem;
//       transition: 400ms;
//       margin: 1rem 2rem 1rem 0rem;

//       &:hover{
//         transform: scale(1.2);
//       }

//     }

//     // &:hover #panier__container{
//     & #panier__container{
//       display: block;
//       position: absolute;
//       right:0;
//       top:100%;
//       z-index: 1;
//       padding: 2rem;
//       min-height: 20rem;
//       min-width: 30rem;
//       border-radius: 0.6rem;
//       background-color: $bodyBackground;
//       box-shadow: 0rem 0rem 10rem 1rem rgba(0, 0, 0, 0.5);
//     }

//   }
// }
