@import "../Variables.scss";

$imgHeight: 55rem;
$sliderBtn-position: $imgHeight - 4rem;

.slider {
  width: 100%;
  // height: 67rem;
  height: $imgHeight + 3rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background: $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .offers {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 4px;
    & h2 {
      color: $white;
      font-size: fontSize(normal);
      font-weight: 590;
    }
  }
}

.slides {
  width: 500%;
  // height: 63rem;
  height: $imgHeight;
  display: flex;

  & input {
    display: none;
    /* uso display:none porque no quiero que se vean los botones de input, sino los botones linkeados con label */
  }
}

.slide {
  width: 20%;
  transition: 2s;
  display: flex;
  justify-content: center;

  & img {
    width: 100%;
    // height: 63rem;
    height: $imgHeight;
    object-fit: cover;
  }
}

/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: $sliderBtn-position;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid $blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

  &:not(:last-child) {
    margin-right: 40px;
  }
  &:hover {
    background: $blue;
  }
}

/* Cambia de imagen al hacer click */
/* Cada slide ocupa un 20%, al marcar la box como checked, desplazo todo el carousel en multiplos del 20% */
/* ~ significa que toma a todos los hnos de #radio1:checked que tengan la clase .first (ya sea el primer hno el segundo o el tercero) */
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: $sliderBtn-position;

  & div {
    border: 2px solid $blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: $blue;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: $blue;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: $blue;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: $blue;
}
