@import '../Variables.scss';

.menu-container{
  & .hamburger-menu{
    position: relative;
    width: 2.5rem;
    height: 2rem;
    margin: 0.8rem;

    > span {
      opacity: 1;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      background-color: white;
      transition: all 300ms ease-in-out;      
      transform-origin: 0.4rem 0.1rem;

      &:not(:last-child){
        margin-bottom: 0.4rem;
      }
    }
  }
  & .open{
    > span:first-child{
      transform: rotate(45deg);
    }
    > span:nth-child(2){
      opacity: 0;
    }
    > span:last-child{
      transform: rotate(-45deg);
    }

  }

  & .sub-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: $whiteBackground;
    list-style: none;    
    z-index: 1;
    background-color: aquamarine;
    border-radius: 0.6rem;
    background-color: $bodyBackground;
    box-shadow: 0rem 0rem 10rem 1rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6.7rem;
    right: 0.6rem;
    width: 25rem;
    padding: 1rem;


    & li {
      cursor: pointer;
      color: $mainFontColor;
      // border: solid 1px black;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 3rem;
        margin-right: 1rem;
      }

      &:hover{
        font-weight: bold;
      }
      
    }

    & li:last-child{
      justify-content: center;
      a {
        padding: 0.5rem 3rem;
        height: auto;
        
      }
     
    }
  }

}