// .panier {
@import "../../Variables.scss";

.panierContainer {
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: "flex-end";
  padding-top: "10px";

  .panierImg {
    width: "70px";
    height: "68px";
    padding: "4px 10px 20px 15px";
    transition: "200ms";
  }
}

//Table
.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);
  background: $whiteColor;
  font-weight: bold;
  color: $darkGrayColor;
  border-radius: 10px;
  padding: 10px 10px;
  position: absolute;
  top: 70px;
  right: 40px;

  & .headingContainer {
    display: grid;
    justify-content: stretch;
    justify-items: center;
    width: 100%;
    background: $blueColor;
    padding: 1.5px 0;
    border-bottom: 2px solid $whiteColor;
    grid-template-columns: 2fr 3fr 1.5fr 1.5fr;
    grid-template-rows: auto;
  }

  & .scrollContainer {
    max-height: 352px;
    overflow: hidden scroll;

    & .bodyContainer {
      display: grid;
      justify-content: stretch;
      justify-items: center;
      align-items: center;
      width: 100%;
      grid-template-columns: 2.3fr 3fr 1fr 1fr 0.8fr;
      grid-template-rows: auto;
      background: $ligthGrayColor;
      border-bottom: 2px solid $whiteColor;
      padding-right: 10px;
      // & p{}

      & .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55px;
        position: relative;
        & .buttonStyle {
          width: 25px;
          height: 25px;
          border-radius: 20px;
          background-color: $blueColor;

          transition: all 200ms ease 0s;
          & .divContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            & span {
              width: 11px;
              position: absolute;
              color: white;
              font-weight: 800;
            }
          }
        }
      }
    }
  }
}

.imgItem {
  width: 120px;
  height: 170px;
  object-fit: cover;
  padding: 5px;
}

// div.gallery img {
//   width: 100%;
//   height: auto;
// }

// .responsive {
//   padding: 0 6px;
//   float: left;
//   width: 24.99999%;
// }

// @media only screen and (max-width: 700px) {
//   .responsive {
//     width: 49.99999%;
//     margin: 6px 0;
//   }
// }

// @media only screen and (max-width: 500px) {
//   .responsive {
//     width: 100%;
//   }
// }
