@import './Variables.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

body{
  font-family: $themeFont;
  background: $bodyBackground;
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-flow: column;
}

.app{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  min-height: 100vh;
}
